
<input type="text" id="teste" [(ngModel)]="msg">

<br>
<button type="button" (click)="aparecer('1')" >1</button>
<button type="button" (click)="aparecer('2')">2</button>
<button type="button" (click)="aparecer('3')">3</button>
<button type="button" (click)="aparecer('+')">+</button>

<br>
<button type="button" (click)="aparecer('4')" >4</button>
<button type="button" (click)="aparecer('5')">5</button>
<button type="button" (click)="aparecer('6')">6</button>
<button type="button" (click)="aparecer('-')">-</button>

<br>
<button type="button" (click)="aparecer('7')" >7</button>
<button type="button" (click)="aparecer('8')">8</button>
<button type="button" (click)="aparecer('9')">9</button>
<button type="button" (click)="aparecer('/')">/</button>

<br>
<button type="button" (click)="limpar()">ac</button>
<button type="button" (click)="aparecer('0')" >0</button>
<button type="button" (click)="conta()" >=</button>
<button type="button" (click)="aparecer('*')">x</button>